.main {
    padding: 0 42px;
    padding-top: 142px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    &::after {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url(./../../assets/home-hero-image.jpg);
        background-repeat: no-repeat;
        background-position: top left -450px;
        background-size: cover;
        position: absolute;
        opacity: .2;
        transition: .5s;
        z-index: -1;
        @include desktop {
            background-size: contain;
            opacity: 1;
            transition: .5s;
        }
    }
    @include desktop {
        margin: 0;
        padding-top: 342px;
        padding-right: 275px;
    }
    &__heading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include desktop {
            width: 700px;
        }
        h1 {
        font-size: 2.11111em;
        letter-spacing: -0.76px;
        font-weight: 400;
        text-align: center;
        }
        img {
            margin-top: 25px;
            margin-bottom: 65px;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-direction: column;
            @include desktop {
                flex-direction: row;
            }
            p {
                margin: 0 22px;
                margin-bottom: 44px;
                padding: 13px 0;
                width: 310px;
                background-color: $color-1;
                border: .75px solid $color-5;
                color: $color-5;
                font-size: 2em;
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                    background-color: $color-3;
                    transition: .5s;
                }
            }
        }
    }
}