.main {
    padding: 0 42px;
    padding-top: 242px;
    width: 100%;
    height: 100vh;
    background-image: url(./../../assets/Home-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-position: top left -450px;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    @include desktop {
        margin: 0;
        padding-top: 342px;
        padding-right: 275px;
        background-size: contain;
    }
    &__heading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include desktop {
            width: 700px;
        }
        h1 {
        font-size: 2.11111em;
        letter-spacing: -0.76px;
        font-weight: 300;
        text-align: center;
        }
        img {
            margin-top: 25px;
            margin-bottom: 65px;
        }
    }
}