.threeColums {
    padding: 0 163px;
    width: 100%;
    min-height: 384px;
    background-image: url(./../../assets/3-columns-background.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }
    &__column {
        margin: 40px 0;
        padding: 0 40px;
        width: 374px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            font-size: 5em;
            font-weight: 300;
        }
        span {
            margin-top: 10px;
            letter-spacing: -0.36px;
            font-weight: 400;
        }
        p {
            margin-top: 28px;
            font-size: 0.889em;
            letter-spacing: -0.32px;
            font-weight: 300;
        }
    }
}